body {
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}
.movie-container {
	display: flex;
	flex-wrap: wrap;
}
.movie {
	width: 300px;
	margin: 10px;
	transition: transform 0.2s;
	position: relative;
}
.movie .listing-image > img {
	max-width: 100%;
}
.movie:hover {
	cursor: pointer;
	transform: scale(1.1);
}
.movie:hover .overlay {
	opacity: 1;
}
.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 20px;
	font-size: 20px;
	padding: 20px;
	text-align: center;
	color: #fff;
}
